body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#music-details {
  width: 100%;
  margin: 20px 0;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#controls i {
  font-size: 30px;
  color: purple;
}

#volume-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

#volume-control i {
  font-size: 24px;
  color: purple;
  cursor: pointer;
}

#volume-bar {
  flex: 1;
}

#progress {
  width: 100%;
  margin-bottom: 20px;
}

#progress .times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progress-bar {
  width: 100%;
}

#music-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
